<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Yamawa Food Shop Site</title>
  </head>
    <h1><a href="{% url 'front:index' %}">YamawaFood.</h1>
      <a href="{% url 'front:index' %}">home</a>
      <form action="{% url 'front:index' %}" method="get">
        <input type="text" name="query" value="">
        <button type="submit" name="button">検索</button>
      </form>
      <!-- 検索機能はしょう先生の　【Python Webアプリ 中級】#5 を参照-->
  <body>


    {% block contents %}
    {% endblock %}


  </body>
</html>
